.footer {
  background-color: #808e9b;
  color: white;
  padding: 3em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    margin: 0 1em;

    &:hover {
      color: #05c46b;
    }
  }

  svg {
    font-size: 1.5em;
    cursor: pointer;
  }
}

.copy_right {
  margin-top: 2em;

  span {
    font-weight: bold;
    color: #05c46b;
  }
}
